<div class="container-fluid">
    <div>
        <a ui-sref="rooms">Powrót do listy pokoi</a>
    </div>
    
    <div class="row buttons">
        <div class="col-md-7">
            <table>
                <tr data-ng-repeat="row in board">
                    <td class="cell" 
                        jqyoui-droppable="{onDrop:'onDrop(cell, $index, $parent.$index)'}" 
                        data-drop="{{ isDroppable($index, $parent.$index) }}"
                        data-ng-repeat="cell in row" 
                        style="background-color: {{ cell.getColor() }}">
                        <span data-drag="{{ cell.letter !== null && isInActualMove(cell.letter) }}"
                              data-jqyoui-options="{revert: true}"
                              jqyoui-draggable="{index: {{$index}}, animate:true, onStart: 'onDragFromBoard(cell.letter, cell)'}" 
                              class='letter'>{{ cell.letter.character }}</span>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-md-2">
            <button data-ng-click="endMove()" data-ng-show="inMove">Zakończ ruch</button>
            <button data-ng-click="ready()" data-ng-hide="isReady">Zacznij grę</button>

            <button data-ng-click="accept()" data-ng-show="evaluateMove">Akceptuj</button>
            
            <p data-ng-show="inMove">
                Twoja kolej
            </p>
            
            <p data-ng-show="isReady && !inMove">
                Oczekiwanie na ruch
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul id="letters">
                <li data-ng-show="!letter.isUsed" 
                    data-drag="{{ inMove }}" 
                    data-jqyoui-options="{revert: true}"
                    data-containment="position" 
                    data-index="{{$index}}" 
                    jqyoui-droppable="{onDrop:'onDropBack($index)'}" 
                    data-drop="true"
                    jqyoui-draggable="{index: {{$index}}, onStart: 'onDragStart(letter)'}" 
                    data-ng-repeat="letter in letters">{{ letter.character }}</li>
            </ul>
        </div>
    </div>
</div>
