extends layout

block content
  h1= title
  p #{title}
  
  table(data-ng-app="game" data-ng-controller="boardCtrl")

    tr(data-ng-repeat="row in board")
      td(data-ng-repeat="cell in row" style="background-color: {{ cell.color }}") 
      
