{% extends 'layout.html' %} 
{% block content %}
    <h1>{{ title }}</h1>
    <div data-ng-app="game" data-ng-controller="boardCtrl">
        <table>
            <tr data-ng-repeat="row in board">
                <td class="cell" jqyoui-droppable="{onDrop:'onDrop(cell, $index, $parent.$index)'}" data-drop="true"
                    data-ng-repeat="cell in row" style="background-color: {% raw %}{{ cell.getColor() }}{% endraw %}">
                    <span class='letter'>{% raw %} {{ cell.letter }} {% endraw %}</span>
                </td>
            </tr>
        </table>
        <ul id="letters">
            <li data-drag="true" data-jqyoui-options="{revert: 'invalid'}"
                data-containment="position"
                jqyoui-draggable="{index: {% raw %}{{$index}}{% endraw %}, animate:true}" data-ng-repeat="letter in letters">
                {% raw %}{{ letter.character }}{% endraw %}
            </li>
        </ul>
    </div>
{% endblock %}