<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <link rel='stylesheet' href='stylesheets/style.css' />
        <script src='/jquery/dist/jquery.min.js'></script>
        <script src='/jquery-ui/jquery-ui.min.js'></script>
        <script src='/angular/angular.js'></script>
        <script src='/javascripts/app/game/controllers/boardController.js'></script>
        <script src="/angular-dragdrop/src/angular-dragdrop.min.js"></script>
    </head>
    <body>
        {% block content %}
        
        {% endblock %}
    </body>
</html>

